.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.filter .label {
  font-size: 1.4rem;
}

.filter .filter-options select {
  background-color: #eee;
  color: #333;
  font-size: 1.2rem;
  border: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-weight: 700;
}

.filter .filter-options option {
  font-size: 1.2rem;
}