* {
  margin: 0;
  padding: 0;
  color: white
}

body {
  height: 100%;
  width: 100%;
  background: url("https://img.freepik.com/free-vector/gradient-abstract-background_23-2149131346.jpg?w=996&t=st=1687376480~exp=1687377080~hmac=0b5774972dca8515fe0fed011e746bd6348fe3056dd126f486ddbc1aed45e7d2") no-repeat fixed center/cover;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow-x: hidden;
}